html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: "Orbitron", sans-serif;
  overflow: hidden;
}



::selection {
  background: none;
  color: none;
}

:root {
  --couche1: darkgreen;
  --couche2: saddlebrown;
  --corecolor: brown;
  --rarecolor: purple;
  --res1GaugeH: 25%;
  --res2GaugeH: 10%;
  --res3GaugeH: 4%;
  --resRGaugeH: 1%;
}

@media (min-width: 1350px) {
  body {
    font-size: 1.2em;
  }
}

@media (max-width: 1200px) {
  .localAssign .hideable {
    font-size: 0.7em;
  }
}

@media (max-width: 1050px) {

  .localAssign {
    grid-template-columns: repeat(3, auto) !important;
  }

  .hideable {
    display: none;
  }

  #shipContainer {
    font-size: 0.8em;
  }
}

@media (max-width: 950px) {
  #map {
    font-size: 70%;
  }

  #ship {
    transform: scale(0.8);
  }

  #author {
    display: none;
  }

  .buyable_title_text {
    font-size: 1em;
  }

  .buyable_title_price {
    font-size: 0.8em;
  }

  .buyable_button {
    border-radius: 5px !important;
    font-size: 1em !important;
    margin: 0.2em !important;
  }


  .buyable_text {
    flex-grow: 1;
    margin-left: 0.5em !important;
  }

  #res {
    font-size: 0.8em;
  }
}

@media (max-width: 750px) {
  #shipContainer {
    font-size: 0.5em;
  }
}

@media (max-width: 550px) {
  #version {
    display: none;
  }

  #shipContainer {
    font-size: 0.3em;
  }
}

.tooltip {
  width: intrinsic;
  /* Safari/WebKit */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  /* Chrome */
  background: #024250;
  color: #fff;
  text-align: center;
  padding: 0.2em 0.2em;
  border-radius: 1vmin;
  /* position: relative; */
  text-decoration: none;
  display: none;
  z-index: 9999;
}


header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25px;
  border-bottom: 1px solid red;
  background: #002b35;
  color: ghostwhite;
  align-items: center;
}

.closeButton {
  position: absolute;
  inset: 0 0 auto auto;
}

#prestigeAnimation {
  display: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: ghostwhite;
}

#prestigeText {
  font-size: 3em;
  z-index: 999;
  margin-top: 2em;
}

#prestigeShip {
  position: relative;
}

#loading {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  color: ghostwhite;
  justify-content: center;
  align-items: center;
}


#square {
  display: block;
  position: absolute;
  height: 110px;
  width: 110px;
}

#square span {
  width: 17px;
  height: 17px;
  background-color: #000;
  display: inline-block;
  -webkit-animation: square 2.5s infinite ease-in-out both;
  animation: square 2.5s infinite ease-in-out both;
}

#square span:nth-child(1) {
  left: 0px;
  background: var(--couche1);
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#square span:nth-child(2) {
  left: 15px;
  background: var(--couche1);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#square span:nth-child(3) {
  left: 30px;
  background: var(--couche1);
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#square span:nth-child(4) {
  left: 45px;
  background: var(--couche1);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#square span:nth-child(5) {
  left: 60px;
  background: var(--couche1);
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#square span:nth-child(6) {
  left: 75px;
  background: var(--couche1);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#square span:nth-child(7) {
  left: 90px;
  background: var(--couche2);
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#square span:nth-child(8) {
  left: 105px;
  background: var(--couche2);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#square span:nth-child(9) {
  left: 120px;
  background: var(--couche2);
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#square span:nth-child(10) {
  left: 135px;
  background: var(--couche1);
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#square span:nth-child(11) {
  left: 150px;
  background: var(--couche1);
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#square span:nth-child(12) {
  left: 165px;
  background: var(--couche2);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#square span:nth-child(13) {
  left: 180px;
  background: var(--corecolor);
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#square span:nth-child(14) {
  left: 195px;
  background: var(--couche2);
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#square span:nth-child(15) {
  left: 210px;
  background: var(--couche1);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#square span:nth-child(16) {
  left: 225px;
  background: var(--couche1);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#square span:nth-child(17) {
  left: 240px;
  background: var(--couche2);
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#square span:nth-child(18) {
  left: 255px;
  background: var(--couche2);
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#square span:nth-child(19) {
  left: 270px;
  background: var(--couche2);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#square span:nth-child(20) {
  left: 285px;
  background: var(--couche1);
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#square span:nth-child(21) {
  left: 300px;
  background: var(--couche1);
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#square span:nth-child(22) {
  left: 315px;
  background: var(--couche1);
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#square span:nth-child(23) {
  left: 330px;
  background: var(--couche1);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#square span:nth-child(24) {
  left: 345px;
  background: var(--couche1);
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#square span:nth-child(25) {
  left: 360px;
  background: var(--couche1);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes square {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

#lefttopbar {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
}

#title {
  font-size: 100%;
  margin: 0 0 0 5px;
}

#author {
  font-size: 75%;
  margin-left: 5px;
}

#version {
  font-size: 50%;
  margin-left: 5px;
}

#midtopbar {
  display: flex;
  justify-content: center;
}

#msg {
  font-size: 75%;
}

#msg:hover .tooltip {
  display: block;
  position: absolute;
}

#righttopbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

button {
  color: lightskyblue;
  font-family: "Orbitron", sans-serif;
  background: black;
  font-size: 75%;

  /* Safari/WebKit */
  width: intrinsic;
  height: intrinsic;

  /* Firefox/Gecko */
  width: -moz-max-content;
  height: -moz-max-content;

  /* Chrome */
  width: -webkit-max-content;
  height: -webkit-max-content;
}

#main {
  height: calc(100% - 26px);
  display: none;
  grid-template-columns: 22% 23% 30% 25%;
  grid-template-rows: auto 2fr 1fr;
}

#res {
  grid-row: 1/4;
  /* background-color: hsl(30, 10%, 70%); */
  display: flex;
  flex-direction: column;
  overflow: auto;
  white-space: nowrap;
  border-right: solid 1px #002b35;
}

.money {
  display: flex;
  color: gold;
  justify-content: space-between;
  /* white-space: pre; */
  margin-bottom: 1em;
}

.cat1 {
  display: flex;
  width: 100%;
  border-bottom: solid 1px #002b35;
  justify-content: space-between;
  color: var(--couche1);
}

.cat2 {
  display: flex;
  width: 100%;
  border-bottom: solid 1px #002b35;
  justify-content: space-between;
  color: var(--couche2);
}

.cat3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid 1px #002b35;
  color: var(--corecolor);
}

.rare {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid 1px #002b35;
  color: var(--rarecolor);
}

#droneList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drone {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  border-bottom: solid 1px #002b35;
  color: ghostwhite;
}

#map {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-row: 1/5;
  grid-column: 2/4;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
  align-content: stretch;
  color: ghostwhite;
}

#planetres {
  display: flex;
  align-content: end;
  flex-direction: column;
  grid-row: 2/3;
  grid-column: 1/2;
  margin-left: 5px;
}

#resheader {
  border-bottom: double;
  text-align: center;
}

#reslist {
  display: grid;
  grid-template-columns: 10% auto;
  font-size: 80%;
  align-items: center;
  white-space: nowrap;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;

}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

#caption {
  height: 80%;
  width: 100%;
  display: grid;
}

#ship {
  left: 30%;
  position: absolute;
}

#ship:hover {
  border: solid 2px #002b35;
  transform: scale(2);
}


#timer {
  left: 26%;
  display: none;
  position: absolute;
  font-size: 0.8em;
}

.background {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
}

#converterArea {
  display: flex;
  /* background-color: hsl(70, 10%, 70%); */
  justify-content: center;
  flex-wrap: wrap;
  border-left: solid 1px #002b35;
  border-bottom: solid 1px #002b35;
  height: 100%;
  position: relative;
  /* align-content:flex-start; */
}

#converterMenu {
  display: none;
  position: absolute;
  color: ghostwhite;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  z-index: 1;
}

#converterContainer {
  background: black;
  position: absolute;
  width: 30vw;
  height: 80vh;
  border: solid 2px #002b35;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto repeat(6, auto);
  min-width: 400px;
}

.convertSelectorArea {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  outline: solid 2px #002b35;
  align-items: center; 
}

#shipMenu {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}


#shipContainer {
  background: black;
  width: 80vw;
  height: 80vh;
  position: absolute;
  inset: 10% 10% 10% 10%;
  border: solid 2px #002b35;
  display: grid;
  grid-template-columns: 35% 45% 20%;
  grid-template-rows: 20% 60% 20%;
}

#miniShip {
  color: ghostwhite;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/2;
}

#shipStorage {
  color: ghostwhite;
  display: flex;
  margin: auto;
  border-left: solid 2px #002b35;
  border-right: solid 2px #002b35;
  height: 100%;
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/3;
  flex-direction: column;
  overflow: auto;
}

#shipStorage>* {
  width: 100%;
}

#resShip {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(11, auto);
  white-space: nowrap;
  justify-content: end;
  width: 100%;
}

#resShip span {
  display: flex;
  justify-content: end;
}

#resShip input {
  width: 100%;
  font-size: 80%;
}

.resName {
  justify-content: start !important;
}

#cargoFullContainer {
  height: 100%;
  display: flex;
}

#cargoFull {
  background-color: darkred;
  display: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  font-weight: bolder;
  color: black;
  margin: auto;
  height: 80%;
  width: 80%;
}

#shipEquipment {
  color: ghostwhite;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  flex-direction: column;
  border-top: solid 2px #002b35;
  white-space: nowrap;
  overflow: auto;
}

#shipEquipment>* {
  margin: 3% 0 0 0;
}

#Equipment {
  width: 100%;
}

#Equipment>* {
  font-size: 0.8em;
  margin-top: 1%;
}

#Equipment>*:hover {
  background-color: #002b35;
}

#Equipment>*:hover .tooltip {
  display: block;
  position: absolute;
  left: 35%;
}

#shipGauge {
  color: ghostwhite;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-row: 1/3;
  grid-column: 3/4;
  overflow: auto;
}

#gauge {
  display: flex;
  height: 80%;
  width: 40%;
  background-color: #1b2631;
  border-radius: 1em;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

#res1Gauge {
  height: var(--res1GaugeH);
}

#res2Gauge {
  height: var(--res2GaugeH);
}

#res3Gauge {
  height: var(--res3GaugeH);
}

#resRGauge {
  height: var(--resRGaugeH);
}

#shipButtons {
  color: ghostwhite;
  display: flex;
  margin: auto;
  height: calc(100% - 2px);
  width: 100%;
  justify-content: space-around;
  border-top: solid 2px #002b35;
  align-items: center;
  grid-row: 3/4;
  grid-column: 1/4;
  overflow: auto;
}

.shipButton {
  font-size: 1.5em;
}

#prestigeCost {
  /*position: absolute;*/
  display: flex;
  justify-content: center;
  width: 100%;
}

#planetMenu {
  display: none;
  position: absolute;
  color: ghostwhite;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#planetMenuContainer {
  background: black;
  width: 80vw;
  height: 80vh;
  position: absolute;
  inset: 10% 10% 10% 10%;
  border: solid 2px #002b35;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 1.5em 1.5em 35% 35%;
  overflow: auto;
}

#planetMenuTitle {
  display: flex;
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #002b35;
  white-space: nowrap;
}

.planetMenuItem {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 1em 0 1em;
  white-space: nowrap;
}

#planetSelectorArea {
  grid-row: 4/6;
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.planetOverview {
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  width: 30%;
  border: solid 2px #002b35;
  white-space: nowrap;
  font-size: 0.8em;
  min-height: 100px;
  min-width: 150px;
}

.planetOverview:hover {
  box-shadow: inset 0 0 1em gold;
  background-color: black;
}

.planetName {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniPlanetContainer {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniPlanetC1 {
  height: 90%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniPlanetC2 {
  height: 60%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniPlanetC3 {
  height: 33%;
  aspect-ratio: 1/1;
}

.miniPlanetRes {
  width: 50%;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.miniPlanetResItem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
  margin-top: 5%;
}

.miniPlanetcaption {
  height: 1em;
  width: 1em;
}

#coordinatesMenu {
  display: none;
  position: absolute;
  color: ghostwhite;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  z-index: 1;
}

#coordinatesMenuContainer {
  background: black;
  position: absolute;
  width: 30vw;
  height: 80vh;
  border: solid 2px #002b35;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto repeat(6, auto);
  min-width: 250px;
}

.selector {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}

#coordinatesMenuContainer select {
  width: 30%;
  min-width: 50px;
}

#coordinatesCostContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  align-self: center;
}

#buyCoordBtn {
  justify-self: center;
  align-self: center;
  border: 2px solid darkred;
  border-radius: 8px;
  color: darkred;
  font-size: 1.5em;
  margin: 0.5em;
}

#planet {
  max-height: 100%;
  justify-content: right;
  grid-row: 1/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 30%);
  aspect-ratio: 1/1;
}

.region {
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: solid 2px transparent;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.region:hover {
  background-color: black;
  border: solid 2px #002b35;
  transform: scale(1.5);
  z-index: 2;
}

.tag {
  display: flex;
  align-items: center;
  font-size: 1em;
  min-width: 0;
}

.d1 {
  color: blue;
}

.d2 {
  color: red;
}

.d3 {
  color: ghostwhite;
}

#NW .tag {
  grid-column: 1/2;
  grid-row: 1/2;
}

#NW .d1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

#NW .d2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

#N .tag {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-content: center;
}

#N .d1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

#N .d2 {
  grid-column: 4/5;
  grid-row: 1/2;
}

#NE .tag {
  grid-column: 4/5;
  grid-row: 1/2;
  justify-content: right;
}

#NE .d1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

#NE .d2 {
  grid-column: 4/5;
  grid-row: 3/4;
}

#W .tag {
  grid-column: 1/2;
  grid-row: 1/5;
  justify-content: center;
}

#W .d1 {
  grid-column: 1/2;
  grid-row: 4/5;
}

#W .d2 {
  grid-column: 1/2;
  grid-row: 1/2;
}

#core .tag {
  grid-column: 2/4;
  grid-row: 2/4;
  text-align: center;
  justify-content: center;
}

#core .d2 {
  position: absolute;
  left: 5%;
}

#core .d3 {
  position: absolute;
  right: 5%;
}

#E .tag {
  grid-column: 4/5;
  grid-row: 1/5;
  justify-content: center;
}

#E .d1 {
  grid-column: 4/5;
  grid-row: 1/2;
}

#E .d2 {
  grid-column: 4/5;
  grid-row: 4/5;
}

#SW .tag {
  grid-column: 1/2;
  grid-row: 4/5;
}

#SW .d1 {
  grid-column: 3/4;
  grid-row: 4/5;
}

#SW .d2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#S .tag {
  grid-column: 1/5;
  grid-row: 4/5;
  justify-content: center;
}

#S .d1 {
  grid-column: 4/5;
  grid-row: 4/5;
}

#S .d2 {
  grid-column: 1/2;
  grid-row: 4/5;
}

#SE .tag {
  grid-column: 4/5;
  grid-row: 4/5;
  justify-content: right;
}

#SE .d1 {
  grid-column: 4/5;
  grid-row: 2/3;
}

#SE .d2 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.assign {
  display: flex;
  justify-content: center;
}

.localAssign {
  margin-top: 4%;
  display: grid;
  grid-row: 1/2;
  grid-column: 4/5;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  align-content: start;
  align-items: center;
  justify-items: center;
}

.localAssign.S {
  grid-row: 4/5;
  grid-column: 4/5;
}

.localAssign.W {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: flex-start;
}

.localAssign.E {
  grid-row: 2/3;
  grid-column: 4/5;
  align-self: flex-start;
}

.localAssign.SW {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: flex-start;
}

.localAssign.SE {
  grid-row: 2/3;
  grid-column: 4/5;
  align-self: flex-start;
}

.couche1 {
  background-color: var(--couche1);
}

.couche2 {
  background-color: var(--couche2);
}

.couche3 {
  background-color: var(--corecolor);
}

.coucheR {
  background-color: var(--rarecolor);
}

#NW .couche1 {
  grid-column: 2/5;
  grid-row: 2/5;
}

#NW .couche2 {
  grid-column: 4/5;
  grid-row: 4/5;
}

#N .couche1 {
  grid-column: 1/5;
  grid-row: 2/5;
}

#N .couche2 {
  grid-column: 1/5;
  grid-row: 4/5;
}

#NE .couche1 {
  grid-column: 1/4;
  grid-row: 2/5;
}

#NE .couche2 {
  grid-column: 1/2;
  grid-row: 4/5;
}

#W .couche1 {
  grid-column: 2/5;
  grid-row: 1/5;
}

#W .couche2 {
  grid-column: 4/5;
  grid-row: 1/5;
}

#core .couche2 {
  grid-column: 1/5;
  grid-row: 1/5;
}

#core .couche3 {
  grid-column: 2/4;
  grid-row: 2/4;
}

#E .couche1 {
  grid-column: 1/4;
  grid-row: 1/5;
}

#E .couche2 {
  grid-column: 1/2;
  grid-row: 1/5;
}

#SW .couche1 {
  grid-column: 2/5;
  grid-row: 1/4;
}

#SW .couche2 {
  grid-column: 4/5;
  grid-row: 1/2;
}

#S .couche1 {
  grid-column: 1/5;
  grid-row: 1/4;
}

#S .couche2 {
  grid-column: 1/5;
  grid-row: 1/2;
}

#SE .couche1 {
  grid-column: 1/4;
  grid-row: 1/4;
}

#SE .couche2 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.detailRegion {
  display: grid;
  grid-row: 1/5;
  grid-column: 2/4;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto repeat(3, auto);
  color: ghostwhite;
  overflow: auto;
  height: 100%;
}

.SW .backButton {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: flex-start;
}

.SE .backButton {
  grid-row: 1/2;
  grid-column: 4/5;
  align-self: flex-start;
  justify-self: flex-end;
}

.S .backButton {
  grid-row: 4/5;
  grid-column: 1/2;
  align-self: flex-end;
}

.W .backButton {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: flex-start;
}

.E .backButton {
  grid-row: 1/2;
  grid-column: 4/5;
  align-self: flex-start;
  justify-self: flex-end;
}

#coreLocked {
  display: flex;
  grid-row: 1/2;
  grid-column: 2/4;
  width: 90%;
  height: 80%;
  text-align: center;
}

#WIP {
  grid-row: 2/5;
  grid-column: 1/5;
  width: 100%;
  aspect-ratio: 1/1;
  margin-top: 3%;
  background-image:
    repeating-linear-gradient(45deg,
      black,
      black 40px,
      #f7b500 40px,
      #f7b500 80px);
  z-index: 10;
}

.gridCornerContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gridCornerContainer.NW {
  grid-row: 2/5;
  grid-column: 2/5;
  aspect-ratio: 1/1;
  transform: rotate(0deg);
  align-self: flex-end;
  margin-top: 3%;
}

.gridCornerContainer.NE {
  grid-row: 2/5;
  grid-column: 1/4;
  aspect-ratio: 1/1;
  transform: rotate(90deg);
  align-self: flex-end;
  margin-top: 3%;
}

.gridCornerContainer.SE {
  grid-row: 1/4;
  grid-column: 1/4;
  aspect-ratio: 1/1;
  transform: rotate(180deg);
  align-self: flex-start;
}

.gridCornerContainer.SW {
  grid-row: 1/4;
  grid-column: 2/5;
  aspect-ratio: 1/1;
  transform: rotate(270deg);
  align-self: flex-start;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(3%, auto) repeat(3, 1fr);
}

.gridContainer.core {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row: 2/5;
  grid-column: 1/5;
  aspect-ratio: 1/1;
  align-self: flex-end;
  margin-top: 3%;
}

.gridContainer.N {
  grid-row: 2/5;
  grid-column: 1/5;
  aspect-ratio: 4/3;
  transform: rotate(0deg);
  align-self: flex-end;
}

.gridContainer.W {
  grid-row: 1/5;
  grid-column: 1/5;
  aspect-ratio: 4/3;
  transform: rotate(270deg) translateY(16.5%) translateX(-12.5%);
}

.gridContainer.E {
  grid-row: 1/5;
  grid-column: 1/5;
  transform: rotate(90deg) translateY(16.5%) translateX(12.5%);
  aspect-ratio: 4/3;
}

.gridContainer.S {
  grid-row: 1/4;
  grid-column: 1/5;
  aspect-ratio: 4/3;
  transform: rotate(180deg);
  align-self: flex-start;
}

#mineGrid1NW {
  display: flex;
  grid-row: 1/4;
  grid-column: 1/4;
  justify-content: center;
}

#mineGrid2NW {
  display: flex;
  grid-row: 3/4;
  grid-column: 3/4;
  justify-content: center;
}

#mineGrid1N {
  display: flex;
  grid-row: 2/4;
  grid-column: 1/5;
  justify-content: center;
}

#mineGrid2N {
  display: flex;
  grid-row: 4/5;
  grid-column: 1/5;
  justify-content: center;
}

#mineGrid1NE {
  display: flex;
  grid-row: 1/4;
  grid-column: 1/4;
  justify-content: center;
}

#mineGrid2NE {
  display: flex;
  grid-row: 3/4;
  grid-column: 3/4;
  justify-content: center;
}

#mineGrid1SW {
  display: flex;
  grid-row: 1/4;
  grid-column: 1/4;
  justify-content: center;
}

#mineGrid2SW {
  display: flex;
  grid-row: 3/4;
  grid-column: 3/4;
  justify-content: center;
}

#mineGrid1S {
  display: flex;
  grid-row: 2/4;
  grid-column: 1/5;
  justify-content: center;
}

#mineGrid2S {
  display: flex;
  grid-row: 4/5;
  grid-column: 1/5;
  justify-content: center;
}

#mineGrid1SE {
  display: flex;
  grid-row: 1/4;
  grid-column: 1/4;
  justify-content: center;
}

#mineGrid2SE {
  display: flex;
  grid-row: 3/4;
  grid-column: 3/4;
  justify-content: center;
}

#mineGrid1W {
  display: flex;
  grid-row: 2/4;
  grid-column: 1/5;
  justify-content: center;
}

#mineGrid2W {
  display: flex;
  grid-row: 4/5;
  grid-column: 1/5;
  justify-content: center;
}

#mineGrid1E {
  display: flex;
  grid-row: 2/4;
  grid-column: 1/5;
  justify-content: center;
}

#mineGrid2E {
  display: flex;
  grid-row: 4/5;
  grid-column: 1/5;
  justify-content: center;
}

#mineGrid2core {
  display: flex;
  grid-row: 1/5;
  grid-column: 1/5;
  justify-content: center;
}

#mineGrid3core {
  display: flex;
  grid-row: 2/4;
  grid-column: 2/4;
  justify-content: center;
}

.grid {
  border-collapse: collapse;
  width: 100%;
  /* cursor: url(https://w7.pngwing.com/pngs/31/104/png-transparent-computer-icons-jackhammer-hammer-cdr-technic-logo.png), crosshair; */
}

td {
  aspect-ratio: 1 / 1;
}

.grid td.clicked {
  background-color: #180b00;
}

#tabs {
  grid-column: 4/5;
  grid-row: 1/2;
  display: flex;
  /* background-color: hsl(70, 10%, 70%); */
  justify-content: center;
  flex-wrap: wrap;
  border-left: solid 1px #002b35;
  border-bottom: solid 1px #002b35;
  height: 100%;
  position: relative;
  align-content:flex-start;
}

#shop {
  display: flex;
  flex-direction: column;
}

#workbench {
  display: flex;
  flex-direction: column;
}

.menus {
  grid-column: 4/5;
  grid-row: 2/4;
  height: 100%;
  width: 100%;
  color: ghostwhite;
  /* background-color: hsl(155, 15%, 70%); */
  border-left: solid 1px #002b35;
  /* overflow: auto; */
}

.submenus {
  display: flex;
  color: ghostwhite;
  min-width: 200px;
  width: 100%;
  height: auto;
}

.submenus>button {
  display: flex;
  margin: auto;
}


.menutitle {
  display: flex;
  font-size: 1.2em;
  text-align: center;
  border-block-end: 3px double #002b35;
  align-items: center;
  justify-content: center;
  /* min-width: 200px; */
}

.buyable {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 1% auto 0 auto;
  border: 2px solid #002b35;
  border-radius: 8px;
  font-size: 0.85em;
  /* background-color: hsl(10, 15%, 70%); */
  /* min-width: 200px; */
  width: 95%;
}

.buyable:hover .tooltip {
  display: block;
  position: absolute;
  /* top: 100%;
  right: 25%; */
  right: 100%;
  width: 50%;
  font-size: 0.8em;
}

.buyable_text {
  flex-grow: 1;
  margin-left: 1em;
}

.buyable_title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.buyable_title_text {
  font-size: 1.1em;
  min-height: 1.25em;
}

.buyable_title_price {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.price {
  display: flex;
  color: gold;
  justify-content: space-between;
}

.RPprice {
  display: flex;
  color: rgb(152, 9, 209);
  justify-content: space-between;
}


.buyable_button {
  align-self: center;
  border: 2px solid darkred;
  border-radius: 8px;
  color: darkred;
  font-size: 1.5em;
  margin: 0.5em;
}

.craft_button {
  align-self: center;
  border: 2px solid darkred;
  border-radius: 8px;
  color: darkred;
  font-size: 1.1em;
  margin: 0.5em;
}

#labMachine {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 3em repeat(10, auto);
  justify-content: end;
  font-size: 0.8em;
  width: 100%;
  min-width: 200px;
}

#labMachine span {
  display: flex;
  justify-content: end;
  align-items: center;
}

#labMachine input {
  width: 100%;
  font-size: 80%;
}

#zone {
  width: 200vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  z-index: -1;
  inset: 0 0 0 0;
}

.stars {
  position: absolute;
  background-color: rgba(250, 200, 200, 0.75);
  border-radius: 0.2rem;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

@keyframes glow {
  0% {
    box-shadow: none;
  }

  25% {
    color: gold;
    box-shadow: inset 0 0 1em gold;
  }

  50% {
    color: ghostwhite;
    box-shadow: none;
  }

  75% {
    color: gold;
    box-shadow: inset 0 0 1em gold;
  }

  100% {
    box-shadow: none;
  }
}

.glow {
  animation: glow 2s ease-out 0s 1;
  -webkit-animation: glow 2s ease-out 0s 1;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }
}

.blink {
  animation: blink 2s ease-out 0s 1;
  -webkit-animation: blink 2s ease-out 0s 1;
}

@keyframes vanish {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.vanish {
  animation: vanish 2s ease-out 0s 1;
  -webkit-animation: vanish 2s ease-out 0s 1;
}

@keyframes wobble {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0);
  }
}

.wobble {
  animation: wobble 0.5s ease-in-out 0s infinite alternate;
  -webkit-animation: wobble 0.5s ease-in-out 0s infinite alternate;
}

.toggle-label {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
  max-width: 150px;
  min-width: 100px;
  aspect-ratio: 2/1;
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
  border: 2px solid #002b35;
  font-size: 1.2em;
  overflow: hidden;
}

.toggle-label input[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle-label input[type=checkbox]+.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: darkred;
  transition: background 150ms linear;

}

.toggle-label input[type=checkbox]:checked+.back {
  background: darkgreen;
}

.toggle-label input[type=checkbox]+.back .toggle {
  display: block;
  position: absolute;
  content: ' ';
  background: #fff;
  width: 50%;
  height: 100%;
  transition: margin 150ms linear;
  border-radius: 0;
}

.toggle-label input[type=checkbox]:checked+.back .toggle {
  margin-left: 50%;
}

.toggle-label .label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  color: #ddd;
}

.toggle-label .label.on {
  left: 0px;
}

.toggle-label .label.off {
  right: 0px;
}

.toggle-label input[type=checkbox]:checked+.back .label.on {
  color: #fff;
}

.toggle-label input[type=checkbox]+.back .label.off {
  color: #fff;
}

.toggle-label input[type=checkbox]:checked+.back .label.off {
  color: #ddd;
}

.logbook-area {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  align-content: right;
  text-align: right;
  border-top: 1px solid #002b35;
  color: ghostwhite;
  height: 100%;
  min-height: 100px;
  width: 100%;
  overflow: auto;
  background: black;
}

.logbooktitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 1.5em;
  /* min-width: 200px; */
  border-block-end: 3px double #002b35;
}

.logbook {
  color: ghostwhite;
  font-size: 0.9em;
  background-color: black;
  height: 100%;
  border: none;
  width: 100%;
  /* min-width: 200px; */
  box-sizing: border-box;
  resize: none;
}
