html {
  height: 100%;
}
  
body {
  margin: 0;
  height: 100%;
  /*font-family: 'Do Hyeon', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

.tooltip {
  display: none;
  width: intrinsic;           /* Safari/WebKit */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  background-color: #024250;
  color: #fff;
  text-align: center;
  padding: 1vh 1vw;
  border-radius: 1vmin;
  position: absolute;
}

/*=========================TOP BAR========================*/
.topbar {
  display: flex;
  height: 2.5vh;
  width: auto;
  border-bottom: 1px solid gray;
  background: #002b35;
  font-size: 1.5vh;
  color: ghostwhite;
  align-items: center;
  justify-content: space-between;
}

.lefttopbar {
  display: flex;
  flex-direction: row;
  align-items: self-end;
  justify-content: center;
}

.title {
  font-weight: bolder;
  margin: 5px;
}

.author {
  font-size: 1.1vmin;
  margin: 5px;
}

.version {
  font-size: 0.9vmin;
  margin: 5px;
}

.msg {
  font-size: 1.1vmin;
  position: relative;
  display: inline-block;
}

.msg:hover .tooltip {
  display: block;
}

.righttopbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topbar_button {
  color: lightskyblue;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  font-size: 1.1vh;
}

/*=========================MAIN AREA========================*/
.main-area {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-image: url("img/space_bgnd.jpg");
  background-size: cover;
  height: 30vh;
  padding-top: 3.5vh;
}

/*=========================PRODUCTION========================*/

.production-area {
  display: flex;
  flex-direction: column;
  background: black;
  color: lime;
  opacity: .8;
  width: 30vw;
  height : 95%;
  overflow : auto;
}

.productiontitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  height: 3vmin;
  border-block-end: 3px double lime;
}

.ressource {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 1.3vh;
  padding: 0 0 0 10px;
}

.resqty {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 2.9vmin 0 10px;
}

/*=========================CLICKER========================*/

.clicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border-radius: 3vmin;
  color: lime;
  opacity: .8;
  min-width: 20vw;
  height : 28.5vh;
}

.DE {
  text-align: center;
  font-size: 2.8vmin;
  font-weight: bolder ;
  -webkit-text-stroke: 0.2vmin black;
  height : 15%;
  padding: 1vh 10px 0 10px;
}

.clicker_button {
  color: lightskyblue;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3.3vmin;
  -webkit-text-stroke: 0.2vmin black;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  background-image: url("img/DEbutton.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #11ffee00;
  border-radius: 50%;
}

/*=========================LOGBOOK========================*/

.logbook-area {
  display: flex;
  flex-direction:column;
  align-content: left;
  text-align: left;
  border: 2px solid lime;
  color: lime;
  background: black;
  opacity: .8;
  min-width: 25%;
  height : 95%;
}

.logbooktitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  text-align: left;
  height: 3vmin;
  border-block-end: 3px double lime;
}

.logbook{
  color: lime;
  font-size: 1.3vh;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  border: none;
  height: 100%;
  resize: none;
  overflow: auto;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
} 

/*=========================TABS BAR========================*/

.tabs {
  display: flex;
  background: #002b35;
  height: 3vh;
  width: auto;
  align-items: center;
  justify-content: center;
}

.tab {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.tab_button {
  color: lightskyblue;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  border-radius: 2px;
  font-size: 1.5vh;
  margin:5px;
}
  
/*=========================PAGES=======================*/

.menupages {
  display: flex;
  align-content: center;
  justify-content: center;
  color: lime;
  background: black;
  height: calc(100vh - 36.5vh);
  overflow: auto;
  width: 100%;
}

.menutitle {
  display: flex;
  font-size: 3vh;
  text-align: center;
  border-block-end: 3px double #002b35;
  align-content: center;
  justify-content: center;
}

.clicker_button-area-sub {
  font-size: 1.0vh;
  text-align: center;
}

.buyable {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid #002b36;
  border-radius: 8px;
  width: 600px;
  max-width: 100vw;
  height: 75px;
  margin:10px auto;
}

.buyable:hover .tooltip {
  display: block;
}

.buyable_amount {
  align-self: center;
  font-size: 24px;
}

.buyable_text {
  flex-grow: 1;
  margin: 0 20px;
}

.buyable_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.buyable_title-text {
  font-weight: bold;
}

.buyable_effect {
  font-size: 12px;
}

.buyable_button {
  align-self: center;
  background: none;
  border: 2px solid darkred;
  border-radius: 8px;
  color: darkred;
  font-size: 20px;
  height: 30px;
  width: 80px;
}

